.div {
    margin-top: 32px;
    display: flex;
    /*width: 100%;*/
    height: 260px;
    background: #669885;
    padding-left: 261px;
    align-items: center;
}

.text{
    font-size: 32px;
    color: whitesmoke;
    width: 750px;
}