.searchForm{

}

.searchForm input{
    height: 35px;
    margin-right: 10px;
    margin-top: 25px;
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    color: #84B6A3;
    letter-spacing: 0;
    font-size: 15px;
}

.searchForm input::placeholder{
    padding-left: 1vw;
    color: #84B6A3;
    font-size: 12px;
}

.container{
    width: 50vw;
}