.aside {
    background: #84B6A3;
    color: white;
    /*width: 307px;*/
    /*height: 898px;*/
    width: 22vw;
    min-height: 92vh;
}

.active {
    /*height: 20px;*/
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 1vw;
    /*margin-bottom: 1vh;*/
    color: #84B6A3;
    /*padding-bottom: 2vh;*/
    /*padding-top: 2vh;*/



}

.aside li img {
    padding-right: 15px;
    padding-left: 153px;
    width: 16px;
    /*outline: 1px solid crimson;*/
}

aside li {
    margin-bottom: 20px;
    display: flex;
    /*outline: 1px solid crimson;*/
}

aside ul {
    padding-top: 50px;
}

.hr {
    padding-left: 150px;
}

.userImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -7px;


}

.user {
    margin-top: 15px;
    display: flex;
    justify-content: end;

}

.user:hover {
    cursor: pointer;
}

.userName {
    padding-left: 10px;
    width: 100px;
    word-wrap: break-word;


}

.logout {
    height: 25px;
    padding-left: 153px;
    margin-top: 50px;
}

.logout:hover {
    cursor: pointer;
}

.logoutImg {
    padding-right: 15px;
    height: 17px;
    padding-top: 6px;
}

.xxx {
    display: block;
}

.xxx1 {
    display: none;
}


.test {
    color: black;
}

.extraList {
    padding-top: 15px;
    margin-top: -2vh;
    margin-right: 2.2vw;
    margin-bottom: 2vh;
    background-color: #669885;
    height: 20vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 2px;


}

.extraList li {

}

li:hover {
    cursor: pointer;
}

.activeService {
    color: #FFE18B;
}

