.btn{
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    color: #ffff;
    letter-spacing: 0;
    font-size: 15px;
}

.btn img{
    margin-left: 7px;
}

.btn div{
    margin: auto;
}

